{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-3"><!--yukarıdan 3 aşağı taşıyor mt-3-->
        <form method='POST'>
            {% csrf_token %}
            <div class="row"> 
                <div class="col-10">
                    {{form|crispy}}
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-secondary">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

